* {
    font-family: 'Oswald', sans-serif;
}


body{
    margin: 0 1% 1% 1%;
}
#header {
    margin-top:0;
    margin-bottom:0
}

#nav-items {
    text-align:right;
    font-size:150%
}

#name {
    float:left
}

.jumbotron {
    margin-bottom:10%;
    background-color:#f08080
}

#footer-nav {
    float:right
}

.jumbotron p {
    font-size:50%
}

#about {
    
}

#contact {
    margin-bottom:3%
}

#projects {
    margin-bottom:3%
}

h1,h2, h3 {
    text-align:center
}

#contact-img {
    height:20px;
    width:20px%;
    padding-right:5%
}

.btn {
    mid-width:20%;
    margin-top:3%
}

#footer {
    border-top:solid
}

#project {
    width:100%;
    height:100%;
    margin-bottom:3%
}


p{
    text-align:center
}

#project-top {
    margin-bottom:3%
}


